.auth__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    font-style: normal;
    text-align: center;
}